// FOOTER

// --- Mega-footer
$footer-min-padding:            16px !default;
$footer-padding-sides:          40px !default;
$footer-heading-font-size:      14px !default;
$footer-heading-line-height:    (1.7 * $footer-heading-font-size) !default;
$footer-btn-size:               36px  !default;

// --- Mini-footer
$padding:                       16px !default;
$footer-heading-font-size:      24px !default;
$footer-heading-line-height:    (1.5 * $footer-heading-font-size) !default;
$footer-btn-size:               36px !default;
