//  LIST

$list-border:                       8px !default;
$list-min-height:                   48px !default;
$list-min-padding:                  16px !default;
$list-bottom-padding:               20px !default;
$list-avatar-text-left-distance:    72px !default;
$list-icon-text-left-distance:      72px !default;

$list-avatar-size:                  40px !default;
$list-icon-size:                    24px !default;

$list-two-line-height:              72px !default;
$list-three-line-height:            88px !default;
