// TEXTFIELD

$input-text-font-size:                16px !default;
$input-text-width:                    100% !default;
$input-text-padding:                  4px !default;
$input-text-vertical-spacing:         20px !default;

$input-text-button-size:              32px !default;
$input-text-floating-label-fontsize:  12px !default;
$input-text-expandable-icon-top:      16px !default;
