// ==========  Card  ==========

$card-background-color:             unquote("rgb(#{$color-white})") !default;
$card-text-color:                   unquote("rgb(#{$color-black})") !default;
$card-image-placeholder-color:      unquote("rgb(#{$color-accent})") !default;
$card-supporting-text-text-color:   unquote("rgba(#{$color-black}, 0.54)") !default;
$card-border-color:                 rgba(0,0,0,0.1) !default;
$card-subtitle-color:               unquote("rgba(#{$color-black}, 0.54)") !default;
