// ==========  Checkboxes  ==========

$checkbox-color:            unquote("rgb(#{$color-original-primary})") !default;
$checkbox-off-color:        unquote("rgba(#{$color-black}, 0.54)") !default;
$checkbox-disabled-color:   unquote("rgba(#{$color-black}, 0.26)") !default;
$checkbox-focus-color:      unquote("rgba(#{$color-original-primary}, 0.26)") !default;
$checkbox-image-path:       $image_path;
