// ==========  Content Tabs  ==========

$tab-highlight-color:     unquote("rgb(#{$color-primary})") !default;
$tab-text-color:          unquote("rgba(#{$color-black}, 0.54)") !default;
$tab-active-text-color:   unquote("rgba(#{$color-black}, 0.87)") !default;
$tab-border-color:        unquote("rgb(#{$palette-grey-300})") !default;
