// ==========  Footer  ==========

$footer-bg-color:             unquote("rgb(#{$palette-grey-800})") !default;
$footer-color:                unquote("rgb(#{$palette-grey-500})") !default;
$footer-heading-color:        unquote("rgb(#{$palette-grey-300})") !default;
$footer-button-fill-color:    $footer-color !default;
$footer-underline-color:      $footer-color !default;
