// ==========  List ==========

$list-main-text-text-color:         unquote("rgba(#{$color-black}, 0.87)") !default;
$list-supporting-text-text-color:   unquote("rgba(#{$color-black}, 0.54)") !default;
$list-icon-color:                   unquote("rgb(#{$palette-grey-600})") !default;
$list-avatar-color:                 white !default;
